body
{
  background-color: #c6ac8f;
}



header
{
  height: 120px;
  background-image: url("../Kuvat/Banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
nav
{
  width: 280px;
  height: 20px;
  background: #D6C136;
  margin: 22px 0 0 13px;
}
nav ul
{
float: left;
margin: 1px 0 0px -40px;
}
nav li
{
  float: left;
  list-style-type: none;
  padding: 0 8px;
}




section
{
  width: 400px;
}




article
{
  width: 400px;
  background: #c6ac8f;
}
article p
{
  padding: 0 20px;
}
article h3
{
  padding: 0 20px;
}

aside
{
  width: 200px;
  height: 502px;
  background: #eae0d5;
  float: right;
  margin-top: 0px;
}

aside article
{
  width: 100px;
  background: #eae0d5;
  color: black;
}




footer
{
  height: 110px;
  background: #22333b;
  margin-top: 0px;
}
footer p
{
  color: #d9d9d9;
  padding: 10px 0 0 10px;
}

.aukioloajat
{
  text-align: center;
  float: right;
  margin: -80px 20px 0 0;
}
