body {
  padding-top: 10%;
  margin: 0 auto;
  text-align: center;
  background-color: #b2d595;
  width: 100%;
}

div {
  text-align: center;
  margin: 0 auto;
  width: 140px;
  height: 180px;
}

button {
  float: left;
  width: 40px;
  height: 40px;
  background-color: #D1B08E;
}

.butalka {
  float: none;
  width: 100px;
  margin: 20px;
}
