body {
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 10%;
  background: #8EA28F;
}

.div {
  margin: auto;
  width: 50%;
  height: auto;
  border: 3px solid black;
}

table {
  background-color: #878594;
  border: 3px solid black;
  width: 100%;
  height: auto;
}

tr {
  border: 2px solid black;
}

td {
  margin: 1.6%;
  border: 2px solid black;
  text-align: center;
  width: 20%;
  background-color: #fff;
  float: left;
}

img {
  width: 100%;
  height: auto;
}

button, input {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #EFF8D0;
  font-weight: bold;
  font-size: 14px;
}

h1 {
  color: #6C6980;
}
